rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && (
        request.auth.token.email == 'info@jamaldrenthe.com' ||
        request.auth.token.get('admin', false) == true
      );
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
